<!DOCTYPE html>
<html lang="en">
<head>
<!--TO GOD BE THE GLORY-->
        <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,user-scalable=no, width=device-width, height=device-height, viewport-fit=cover">
    <meta http-equiv="Content-Security-Policy" content="default-src * http: https: qrc: gap://ready file: data: 'unsafe-inline' 'unsafe-eval';img-src 'self' data: http: https: file:; style-src 'self' 'unsafe-inline' data: file:; script-src 'self' 'unsafe-inline' ms-appx: 'unsafe-eval' qrc: file:;">
  <meta name="format-detection" content="telephone=no">
  <!-- disable caching on proxy servers -->
  <meta http-equiv="pragma" content="no-cache">
  <!-- set expiration date to "immediately" -->
  <meta http-equiv="expires" content="0">
  <!-- instruct the browser to not cache the webpage -->
  <meta http-equiv="cache-control" content="no-cache" />

    <title>Feem</title>

  <link href="ext/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="ext/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="ext/bootstrap/js/bootstrap.min.js"></script>
  <link href="ext/AngularJS-Toaster/toaster.min.css" rel="stylesheet" />
    <link href="ext/angular-ios-actionsheet/angular-ios-actionsheet.min.css" rel="stylesheet" />
  <link href="ext/angular-carousel/dist/angular-carousel.min.css" rel="stylesheet" type="text/css" />
  <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <link href="css/airsend.css" rel="stylesheet" type="text/css" />


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
      <![endif]-->
</head>

<body id="mainbody">

  <div class="container-fluid">
    <table style="width:100%; height: 100%; table-layout: fixed; background-color: #fafafa;">
        <tr>
            <td class="ttop" style=" -webkit-app-region: drag; background-color: {{theme.dark_primary_color}}">

            </td>
        </tr>
        <tr ng-if="speed_stats.speed">
            <td  style="height: 40px;">
                <div panel-transfer-status></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row" style="height:100%;">
                      <div style="padding: 0px; height:100%;" class="col-sm-5 hidden-xs">
                        <div style="height: 100%; border-right: 1px solid #eee;" feem-peers></div>
                      </div>
                      <div class="col-sm-7"  style="height:100%; overflow:auto; padding: 0px;  ">
                        <div ui-view style="height:100%; width: 100%; overflow:y:auto; overflow-x:hidden; padding: 0px;"></div>
                      </div>
                </div>
            </td>
        </tr>
    </table>
</div><!--row-->\
  ';

<!--  <div style="z-index: 300; position:absolute; top: 10px; left: 20px;" widget-downloading></div>-->
  <div pending-files-dialog></div>
  <div ng-if="!device.has_pro_feature && show_ad" interstitials> </div>
  <toaster-container></toaster-container>
  <feem-options-box></feem-options-box>

<!--  <script type="text/javascript" src="bower_components/es5-shim/es5-shim.min.js"> </script>-->
  <script type="text/javascript" src="../cordova.js"></script>
  <script type="text/javascript" src="scripts/fastclick.js"></script>



  <script src="ext/angular/angular.min.js"> </script>
<script src="ext/angular-touch/angular-touch.min.js"></script>
<script src="ext/angular-ui-router/release/angular-ui-router.min.js"> </script>
<script src="ext/angular-ui-router-title/angular-ui-router-title.js"> </script>
<script src="ext/angular-carousel/dist/angular-carousel.min.js"> </script>
<script src="ext/ng-letter-avatar/dist/ngletteravatar.min.js"></script>
<script src="ext/angular-translate/angular-translate.min.js"></script>

<script src="ext/angular-cookies/angular-cookies.min.js"></script>
<script src="ext/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
<script src="ext/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
<script src="ext/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="ext/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>
<script src="ext/angular-dynamic-locale/dist/tmhDynamicLocale.min.js"></script>

<script src="ext/AngularJS-Toaster/toaster.min.js"></script>
<script src="ext/angular-sanitize/angular-sanitize.min.js"></script>
<script src="ext/angular-ios-actionsheet/angular-ios-actionsheet.min.js"></script>
<script src="ext/roundProgress.min.js"></script>
<script src="ext/angular-countup.min.js"></script>
<script src="ext/moment-with-locales.min.js"></script>
<script src="ext/angular-moment.min.js"></script>
<!--<script type="text/javascript" src="qrc:///qtwebchannel/qwebchannel.js"></script>-->


<script src="scripts/airsend_app.js"></script>
<script src="scripts/airsend_globals.js"></script>
<script src="scripts/components/theme.js"></script>
<script src="scripts/components/os_icon.js"></script>
<script src="scripts/components/wifi_status.js"></script>
<script src="scripts/components/peer_item.js"></script>
<script src="scripts/components/peer_list.js"></script>
<script src="scripts/components/peer_list_empty.js"></script>
<script src="scripts/components/intro.js"></script>
<script src="scripts/components/peer_thumbnail.js"></script>
<script src="scripts/components/panel_home_header.js"></script>
<script src="scripts/components/panel_generic_header.js"></script>
<script src="scripts/components/widget_downloading.js"></script>
<script src="scripts/components/panel_transfer_status.js"></script>
<script src="scripts/components/fragment_feem_peers.js"></script>
<script src="scripts/components/fragment_feem_chat.js"></script>
<script src="scripts/components/fragment_feem_settings.js"></script>
<script src="scripts/components/fragment_feem_pro_settings.js"></script>
<script src="scripts/components/fragment_folder_settings.js"></script>
<script src="scripts/components/fragment_about_feem.js"></script>
<script src="scripts/components/fragment_feem_web_mode.js"></script>
<script src="scripts/components/fragment_feem_notifications_sender.js"></script>
<script src="scripts/components/fragment_device_settings.js"></script>
<script src="scripts/components/fragment_feem_help.js"></script>
  <script src="scripts/components/pending_files_dialog.js"></script>
<script src="scripts/components/fragment_chat_list.js"></script>
<script src="scripts/components/chat_item_text.js"></script>
<script src="scripts/components/chat_item_single_file.js"></script>
<script src="scripts/components/chat_item_single_file_photo.js"></script>
<script src="scripts/components/chat_item_single_file_generic.js"></script>
  <script src="scripts/components/chat_item_multiple_files.js"></script>
  <script src="scripts/components/interstitials.js"></script>
  <script src="scripts/lang/locale_en.js"></script>
  <script src="scripts/lang/locale_fr.js"></script>
<script src="scripts/airsend_app_controller.js"></script>
<script type="text/javascript">
    //alert(overthrow.support);


$( document ).ready(function() {
    console.log( "ready!" );
});

</script>
</body>
</html>
