html, body{
        margin:0;
        padding:0;
        font-family:  'Helvetica',sans-serif;
        moz-osx-font-smoothing: grayscale;

}

* {
      box-sizing: border-box;
       font-family:  'Helvetica',sans-serif;
       text-rendering: optimizeLegibility;

}

html {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}
body{
-ms-touch-action: none;
}
html{
position: fixed;
top: 0px;
bottom: 0px;
right: 0px;
left: 0px;
display: block;
 height:100%;

}

.font-smoothing {

}



body{
  font-weight: 300;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: block;
   height:100%;
}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*::-webkit-scrollbar{
background:transparant;
width: 10px;
}
::-webkit-scrollbar-thumb{
background: #999 !important;
}*/

.toppanel{
  position: fixed;
  top:0px;
  left:0px;
  height: 25px;
  right: 0px;
  background: #FAFAFA;
}

.wrapper{
  position: fixed;
  top:25px;
  left:0px;
  bottom: 0px;
  right: 0px;
  background: #FAFAFA;

}

ul.carousel{
        position:absolute;
        top: 0px;
        left: 0px;
        bottom:0px;
        right: 0px;
        margin: 0px;
        padding: 0px;
}




.fs {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  -webkit-transform:translateY(-50%, 0);
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

a.button {
  text-decoration: none;
  color: #606060;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  min-width: 50px;
  margin-right: 15px;
  margin-top: 15px;
  display: inline-block;
}

.slide{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide .content{
        position: absolute;
        min-height: 100px;
  max-height: 90%;
        left: 10px;
        right: 10px;
        top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
        padding: 20px;
  overflow: auto;

}

.slide .content h1{
  color: white;
  font-weight: 300;
  text-shadow: 2px 2px 4px #000000;
}

.slide .content h2{
  color: white;
  font-weight: 300;
}

.slide .content ul{
  margin-top: 5px;
  margin-bottom: 30px;
}

.slide .content li{
  color: white;
}

.slide .overlay{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #727272;
  opacity: 0.5;
}

.slide a {
  text-decoration: none;
  color: #606060;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  min-width: 50px;
  margin-right: 15px;
  margin-top: 15px;
  display: inline-block;
}



.color_red{
  color: #fc615c ;
}

.color_green{
    color: #34c849;
}

.color_gray{
    color: #9d9d9d;
}

.color_black{
    color: #606060;
}


#panel_left{
  position: absolute;
  left: 0px;
  width: 350px;
  top: 0px;
  bottom: 0px;
  background: #f8f8f8;
  margin: 0px;

}

#panel_right{
  position: absolute;
  left: 350px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 1px solid #000;
  -webkit-box-shadow: -5px 0px 5px -3px #616161;
  box-shadow: -5px 0px 5px -3px #616161;

}

.fragment{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.fragment .profile {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 130px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.fragment .profile .background{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.fragment .profile .info {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;


}
.fragment .profile .info  p {
    font-weight: 100;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    margin: 0px;
    color: #ffffff;
}


.fragment .profile .info .content{
  position: absolute;
        left: 10px;
        right: 70px;
        top: 50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);

}

h1{
  font-weight: 300;
  font-size: 36px;
}

.fragment .profile .info .content h1{
  color: #ffffff;
  margin: 0px;
  font-weight: 300;
  font-size: 26px;
}
.fragment .profile .info .content h2{
  color: #bbdefb;
  margin: 0px;
  padding-top: 5px;
  font-size: 16px;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  font-weight: 400;


}
.thumbnail{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  line-height: 34px;
  font-size: 15px;
  padding: 0 !important;
  text-transform: uppercase;
  float: left !important;
  border: 1px solid rgba(0, 0, 0, 0.14);

}

.fragment .menu{
  position: absolute;
  left: 0px;
  width: 50%;
  top: 130px;
  bottom: 0px;
  border-right-width: 1px;
  border-right-style: solid;
  z-index: 2;

}


.fragment .devices{
  position: absolute;
  left: 0px;
  right: 0%;
  top: 130px;
  bottom: 0px;


}

.fragment .users{
  position: absolute;
  left: 0px;
  right: 0%;
  top: 130px;
  bottom: 0px;
  overflow: auto;

}

.fragment table td{
  position: relative;
}


.fragment p {
  padding-left: 10px;
  margin: 0px;
}

.clickable{
  cursor: pointer;
}

.shadow{
  box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
    outline: 0 !important;
}

.button{
    cursor: pointer;
    background-color: #f44336;
    box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
    outline: 0 !important;
    color: #fff;
    border-radius: 100%;
    font-size: 26px;
    -webkit-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    height: 56px;
    line-height: 26px;
    width: 56px;
    text-align: center;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    padding-top: 5px;

}

.button i{
      font-size: 35px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.androidFix {
    overflow:hidden !important;
    overflow-y:hidden !important;
    overflow-x:hidden !important;
}

.chatspace{
  position: absolute;
  top: 130px;
  bottom: 75px;
  left: 0px;
  right: 0px;
  padding: 5px;
  overflow: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url(../images/logoa.png);
}

.chatspace2{
  position: absolute;
  top: 50px;
  bottom: 75px;
  left: 0px;
  right: 0px;
  padding: 5px;
  overflow: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photospace{
  position: absolute;
  top: 130px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  overflow: auto;
}

.devicesection{
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.devicesection .current{
  cursor: auto;
}

.devicesection .notcurrent{
  cursor: auto;
}
.loading
{
  display:block;
  width:95px;
  height:95px;
}
.loading .outerCircle
{
  display:block;
  position:absolute;
  margin:0 auto;

  width:80px;
  height:80px;
  border-top:7px solid #06F;
  border-bottom:7px solid #06F;
  border-left:7px solid transparent;
  border-right:7px solid transparent;

  border-radius:80px;
  -moz-border-radius:80px;
  -webkit-border-radius:80px;
  -ms-border-radius:80px;
  -o-border-radius:80px;

  box-shadow:0 0 20px #06F;
  -mozbox-shadow:0 0 20px #06F;
  -ms-box-shadow:0 0 20px #06F;
  -o-box-shadow:0 0 20px #06F;
  -webkit-box-shadow:0 0 20px #06F;

  -webkit-animation: cwSpin 1s linear .2s infinite;
  -moz-animation: cwSpin .666s linear .2s infinite;
  -o-animation: cwSpin .666s linear .2s infinite;
  -ms-animation: cwSpin .666s linear .2s infinite;
  animation: cwSpin .666s linear .2s infinite;
}
.loading .innerCircle
{
  display:block;
  position:absolute;
  margin:20px 0 0 20px;

  width:40px;
  height:40px;
  border-top:7px solid #06F;
  border-bottom:7px solid #06F;
  border-left:7px solid transparent;
  border-right:7px solid transparent;

  border-radius:40px;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  -ms-border-radius:40px;
  -o-border-radius:40px;

  box-shadow:0 0 20px #06F;
  -webkit-box-shadow:0 0 20px #06F;
  -moz-box-shadow:0 0 20px #06F;
  -ms-box-shadow:0 0 20px #06F;
  -o-box-shadow:0 0 20px #06F;

  -webkit-animation: ccwSpin .555s linear .2s infinite;
  -moz-animation: ccwSpin .555s linear .2s infinite;
  -o-animation: ccwSpin .555s linear .2s infinite;
  -ms-animation: ccwSpin .555s linear .2s infinite;
  animation: ccwSpin .555s linear .2s infinite;
}
.loading .innerCircle .center
{
  display:block;
  margin:5px 0 0 5px;

  width:30px;
  height:30px;

  background-color:#06F;

  border-radius:30px;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-radius:30px;
}




@-webkit-keyframes cwSpin
{
  0%{-webkit-transform:rotate(0deg);  }
  100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes cwSpin
{
  0%{-moz-transform:rotate(0deg); }
  100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes cwSpin
{
  0%{-ms-transform:rotate(0deg);  }
  100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes cwSpin
{
  0%{-o-transform:rotate(0deg); }
  100%{-o-transform:rotate(360deg); }
}
@keyframes cwSpin
{
  0%{transform:rotate(0deg);  }
  100%{transform:rotate(360deg); }
}

@-webkit-keyframes ccwSpin
{
  0%{-webkit-transform:rotate(0deg);  }
  100%{-webkit-transform:rotate(-360deg); }
}
@-moz-keyframes ccwSpin
{
  0%{-moz-transform:rotate(0deg); }
  100%{-moz-transform:rotate(-360deg); }
}
@-ms-keyframes ccwSpin
{
  0%{-ms-transform:rotate(0deg);  }
  100%{-ms-transform:rotate(-360deg); }
}
@-o-keyframes ccwSpin
{
  0%{-o-transform:rotate(0deg); }
  100%{-o-transform:rotate(-360deg); }
}
@keyframes ccwSpin
{
  0%{transform:rotate(0deg);  }
  100%{transform:rotate(-360deg); }
}

@-webkit-keyframes blink
{
  0%{opacity:.3;filter:alpha(opacity=30);}
  50%{opacity:.5;filter:alpha(opacity=50);}
  100%{opacity:1;filter:alpha(opacity=100);}
}
@-moz-keyframes blink
{
  0%{opacity:.3;filter:alpha(opacity=30);}
  50%{opacity:.5;filter:alpha(opacity=50);}
  100%{opacity:1;filter:alpha(opacity=100);}
}
@-o-keyframes blink
{
  0%{opacity:.3;filter:alpha(opacity=30);}
  50%{opacity:.5;filter:alpha(opacity=50);}
  100%{opacity:1;filter:alpha(opacity=100);}
}
@-ms-keyframes blink
{
  0%{opacity:.3;filter:alpha(opacity=30);}
  50%{opacity:.5;filter:alpha(opacity=50);}
  100%{opacity:1;filter:alpha(opacity=100);}
}
@keyframes blink
{
  0%{opacity:.3;filter:alpha(opacity=30);}
  50%{opacity:.5;filter:alpha(opacity=50);}
  100%{opacity:1;filter:alpha(opacity=100);}
}


@-webkit-keyframes textShine
{
  0%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
  35%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  65%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
    2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
  }
  85%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  100%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
}
@keyframes textShine
{
  0%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
  35%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  65%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
    2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
  }
  85%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  100%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
}
@-moz-keyframes textShine
{
  0%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
  35%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  65%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
    2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
  }
  85%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  100%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
}
@-ms-keyframes textShine
{
  0%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
  35%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  65%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
    2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
  }
  85%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  100%{
    text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
}
@-o-keyframes textShine
{
  0%{
    -o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #333,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
  35%{
    -o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  65%{
    -o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #06F,
    2px 2px 0 #06F,3px 3px 0 #06F,4px 4px 0 #06F,5px 5px 0 #06F;
  }
  85%{
    -o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #444,3px 3px 0 #444,4px 4px 0 #444,5px 5px 0 #444;
  }
  100%{
    -o-text-shadow:-2px -2px 1px #232323,-1px -1px 1px #232323,1px 1px 1px #444,
    2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  }
}


@-webkit-keyframes bounce
{
  0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
  25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
  45%{margin-top:90px;-webkit-transform:scaleX(1.1);}
  50%{margin-top:100px;-webkit-transform:scaleX(1.6);}
  55%{margin-top:90px;-webkit-transform:scaleY(0.5);}
  60%{margin-top:80px;-webkit-transform:scaleX(0.6);}
  65%{margin-top:70px;-webkit-transform:scaleX(0.7);}
  70%{margin-top:60px;-webkit-transform:scaleX(0.8);}
  75%{margin-top:50px;-webkit-transform:scaleX(0.9);}
  80%{margin-top:40px;-webkit-transform:scaleX(1);}
  85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}
@-moz-keyframes bounce
{
  0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
  25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
  45%{margin-top:90px;-moz-transform:scaleX(1.1);}
  50%{margin-top:100px;-moz-transform:scaleX(1.6);}
  55%{margin-top:90px;-moz-transform:scaleY(0.5);}
  60%{margin-top:80px;-moz-transform:scaleX(0.6);}
  65%{margin-top:70px;-moz-transform:scaleX(0.7);}
  70%{margin-top:60px;-moz-transform:scaleX(0.8);}
  75%{margin-top:50px;-moz-transform:scaleX(0.9);}
  80%{margin-top:40px;-moz-transform:scaleX(1);}
  85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}
@-o-keyframes bounce
{
  0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
  25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
  45%{margin-top:90px;-o-transform:scaleX(1.1);}
  50%{margin-top:100px;-o-transform:scaleX(1.6);}
  55%{margin-top:90px;-o-transform:scaleY(0.5);}
  60%{margin-top:80px;-o-transform:scaleX(0.6);}
  65%{margin-top:70px;-o-transform:scaleX(0.7);}
  70%{margin-top:60px;-o-transform:scaleX(0.8);}
  75%{margin-top:50px;-o-transform:scaleX(0.9);}
  80%{margin-top:40px;-o-transform:scaleX(1);}
  85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}
@-ms-keyframes bounce
{
  0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
  25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
  45%{margin-top:90px;-ms-transform:scaleX(1.1);}
  50%{margin-top:100px;-ms-transform:scaleX(1.6);}
  55%{margin-top:90px;-ms-transform:scaleY(0.5);}
  60%{margin-top:80px;-ms-transform:scaleX(0.6);}
  65%{margin-top:70px;-ms-transform:scaleX(0.7);}
  70%{margin-top:60px;-ms-transform:scaleX(0.8);}
  75%{margin-top:50px;-ms-transform:scaleX(0.9);}
  80%{margin-top:40px;-ms-transform:scaleX(1);}
  85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}
@keyframes bounce
{
  0%{margin-top:5px;}5%{margin-top:10px;}10%{margin-top:20px;}15%{margin-top:30px;}20%{margin-top:40px;}
  25%{margin-top:50px;}30%{margin-top:60px;}35%{margin-top:70px;}40%{margin-top:80px;}
  45%{margin-top:90px;transform:scaleX(1.1);}
  50%{margin-top:100px;transform:scaleX(1.6);}
  55%{margin-top:90px;transform:scaleY(0.5);}
  60%{margin-top:80px;transform:scaleX(0.6);}
  65%{margin-top:70px;transform:scaleX(0.7);}
  70%{margin-top:60px;transform:scaleX(0.8);}
  75%{margin-top:50px;transform:scaleX(0.9);}
  80%{margin-top:40px;transform:scaleX(1);}
  85%{margin-top:30px;}90%{margin-top:20px;}95%{margin-top:10px;}100%{margin-top:5px;}
}

@-webkit-keyframes maskMove
{
  0%{margin:0 0 0 -10px;}
  100%{margin:0 0 0 300px;}
}
@-moz-keyframes maskMove
{
  0%{margin:0 0 0 -10px;}
  100%{margin:0 0 0 300px;}
}
@-o-keyframes maskMove
{
  0%{margin:0 0 0 -10px;}
  100%{margin:0 0 0 300px;}
}
@-ms-keyframes maskMove
{
  0%{margin:0 0 0 -10px;}
  100%{margin:0 0 0 300px;}
}
@keyframes maskMove
{
  0%{margin:0 0 0 -10px;}
  100%{margin:0 0 0 300px;}
}



.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
.text1 {color: #ffffff;}
.text2 {color: #bbdefb;}


.mainmenu td{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.setting{
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 20px;
    width: 400px;
    max-width: 90%;
    display: block;
    margin: 10px auto;
}

form input {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #c4c4c4;
}

.setting input{
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #c4c4c4;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.shadow{
-webkit-box-shadow: 0 5px 35px rgba(0,0,0,.65);
box-shadow: 0 5px 35px rgba(0,0,0,.65);
}

.feemfade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.feemfade.ng-enter.ng-enter-active {
  opacity:1;
}
